.nome_pagina_tela_formulario{
    color:#0B63CE;
    font-weight: bold;
    padding: 15px 15px ;
}

.botoes_forms{
    margin: 10 auto;
}

.btn.btn-primary {
    background-color: #0B63CE;
    border: none;
    color: white;
    height: 50px;
    display: block; 
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    width: 70%;
    height: 133px;
    font-weight: bold;
    border-radius: 2%;
}

.button_form_atividade{
    padding: 10px 10px 80px 0 ; 
    
}

.button_form_doacoes{
    padding: 10px 10px 100px 0; 
    
}