.pagina_login{
    background-color:#0B63CE
}

#logo_login_coluna{
    text-align: center;
    padding-top: 10%; /*10% - 150px*/
}
.logo_login{
   width: 254px;
   height: 78px;
}
.doacao{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: regular;
}

.email {
    width: 50px;
}

.form_login{
    padding: 0 50px;
}

.esqueceu_senha{
    text-align: right;
    padding-top: 10px;
}

.link_esqueceu_senha{
    color:white;
}

.link_esqueceu_senha:hover{
    color: #cdcdcd;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#submit {
    display: block; 
    margin: 0 auto;
}
