

/*HEADER*/

.liferay_logo{
    vertical-align: middle;
    padding: 0 15px 0 0;
    margin: 0 auto;
}

.logout
{
    color: white;
    vertical-align: middle;
    padding: 0 15px 0 0;
}


/* FORM */


.formulario {
    margin-top: 15%;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.form-label-password{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.sub-titulo-chk{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #0B63CE;
    font-weight: bolder;
}

.chk-boxes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    margin: 0px;
    padding-bottom: 15px;
}

.titulo_form {
    padding-top: 25px;
    padding-right: 35px;
    padding-bottom: 13px;
    margin: auto;
    font-size: 19px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: #0B63CE;
    text-decoration: solid;
}

#btn_enviar_ativ{
    margin-left: 80px;
    margin-top: 20px;
    padding: 15px;
    width: 40%;
    background-color: #0B63CE;
    border:0px;
    color: white;
    border-radius: 10px;
}

.form-control{
    display: flex;
    justify-content: center;
    padding: 7px;
    width: 80%;
    margin: 7px;
}

.form-control-pais{
    padding: 7px;
    width: 76%;
    margin: 7px;   
}

.container-pais{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: stretch;
    margin-left: 10px;
}

/*FOOTER*/
.navbar {
    padding:0 !important;
    position: fixed;
}

#bottom_menu a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    height: 64px;
    padding-top: 9px;
    
}

ul li a:active {
    background-color: #B6D0F0 !important;
}

.bi.bi-house-door 
{
    font-size: 2em;
    color: white; 
}

.bi.bi-file-text-fill 
{
    font-size: 2em;
    color: white;
}

.bi.bi-map
{
    font-size: 2em;
    color: white;
}

.bi.bi-info-circle{
    font-size: 2em;
    color: white;
}

@media only screen and (min-width: 600px) {
    .titulo_form {
      padding-top: 65px;
      padding-right: 620px;
    }
    .formulario {
        padding-top: 0px;
        margin: auto;
        padding-left: 580px;
    }
    #btn_enviar_ativ{
        margin-left: 270px;
        width: 10%;
    }
    .form-control-pais{
        width: 49%;
    }
    .form-control{
        padding: 7px;
        width: 50%;
        margin: 7px;
    }
  }

