*{
    font-family:Arial, Helvetica, sans-serif;
}

/*HEADER*/
.liferay_logo{
    vertical-align: middle;
    padding: 0 15px 0 0;
    margin: 0 auto;
}

.logout
{
    color: white;
    vertical-align: middle;
    padding: 0 15px 0 0;
}


/*PERFIL*/

.pagina_perfil{
    color:#0B63CE;
}

.nome_pagina_perfil{
    font-weight: bold;
    padding: 20px 15px 5px 15px;
    text-align: left;

}

.nome_usuario{
    padding: 20px 15px 0px;
    font-weight: bold;
}

.evp{
    padding: 20px 15px 0px;
    font-weight: medium;
}

.bi.bi-clock-history{
    font-size: 1em;
    color: #0B63CE;
    float: right;
}

#caixa_grafico_atividade{
    padding: 10px 15px 0px;
}

#caixa_grafico_doacao{
    padding: 10px 15px 0px;
}

#chart {
    max-width: 650px;
    margin: 35px auto;
}

#grafico_doacoes {
    height: 30px;
    width: 80%;
    background-color: #B6D0F0;
    display: block; 
    margin: 0 auto;

}

#grafico_atividades {
    height: 30px;
    width: 90%;
    background-color: #B6D0F0;
    display: block; 
    margin: 0 auto;

}

/*FOOTER*/
.navbar {
    padding:0 !important;
}

#bottom_menu a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    height: 64px;
    padding-top: 9px;
}

ul li a:active {
    background-color: #B6D0F0 !important;
}

.bi.bi-house-door-fill 
{
    font-size: 2em;
    color: white; 
}

.bi.bi-file-text 
{
    font-size: 2em;
    color: white;
}

.bi.bi-map
{
    font-size: 2em;
    color: white;
}

.bi.bi-info-circle{
    font-size: 2em;
    color: white;
}

@media only screen and (min-width: 600px) {
    .titulo_form {
      padding-top: 65px;
      padding-right: 620px;
    }
    .formulario {
        padding-top: 0px;
        margin: auto;
        padding-left: 580px;
    }
    #btn_enviar_ativ{
        margin-left: 270px;
        width: 10%;
    }
    .form-control-pais{
        width: 49%;
    }
    .form-control{
        padding: 7px;
        width: 50%;
        margin: 7px;
    }
  }
