/*INDEX*/
#logo_login_coluna{
    text-align: center;
    padding-top: 5%; /*10% - 150px*/
}
.logo_login{
   width: 254px;
   height: 78px;
}
.doacao{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: regular;
}

.form_login{
    padding: 0 0px;
}

.email {
    width: 50px;
}

#esqueceu_senha{
    display: block;
    padding: 10px 0;
    text-align: right;
   
}

.link_esqueceu_senha{
    color:white;
}

.link_esqueceu_senha:hover{
    color: #cdcdcd;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#submit {
    display: block; 
    margin: 0 auto;
}


/*-------------------------------------------*/
/*ALTERAR SENHA*/
.senha{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: regular;
    float:left;
}

#rec_email{
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    text-align: justify;
    color: white  
}

#recsenha {
    display: block; 
    margin: 0 auto;
}

#altsenha {
    display: block; 
    margin: 0 auto;
}

#rec_codigo{
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    text-align: justify;
    color: white  
}

#rec_recupsenha{
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    color: white  
}

#rec_compsenha{
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    text-align: left;
    color: white  
}

.bi-arrow-left-circle{
    font-size: 1em;
    color: white;
}

.return{
    display: flex;
    justify-content: space-around;
}

