*{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color:white !important;
}
.acordeon_principal{
    margin: 20px;
}

.nome_mes{
    color: #0B63CE;
    font-weight: 700;
    text-align: right;
}

.meses{
    padding: 20px;
    border-radius: 0px;
    margin: 20px;
    /* background-color: #B6D0F0;
    border: 1px black solid;  */
}

.titulo_form {
    margin: auto;
    font-size: 19px;
    padding-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    color: #0B63CE;
    text-decoration: solid;
    font-weight: 700;
}

