/*INDEX*/
#logo_login_coluna{
    text-align: center;
    padding-top: 10%; /*10% - 150px*/
}
.logo_login{
   width: 254px;
   height: 78px;
}
.doacao{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: regular;
}

.form_login{
    padding: 0 50px;
}

.email {
    width: 50px;
}

#esqueceu_senha{
    display: block;
    padding: 10px 0;
    text-align: right;
   
}

.link_esqueceu_senha{
    color:white;
}

.link_esqueceu_senha:hover{
    color: #cdcdcd;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#submit {
    display: block; 
    margin: 0 auto;
}

/*-------------------------------------------*/
/*HEADER*/
.liferay_logo{
    vertical-align: middle;
    padding: 0 15px 0 0;
    margin: 0 auto;
}

.logout
{
    color: white;
    vertical-align: middle;
    padding: 0 15px 0 0;
}

/*-------------------------------------------*/
/*FOOTER*/

.navbar {
    padding:0 !important;
}

#bottom_menu a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    height: 64px;
    padding-top: 9px;
}

ul li a:active {
    background-color: #B6D0F0 !important;
}

.bi.bi-house-door 
{
    font-size: 2em;
    color: white; 
}

.bi.bi-file-text 
{
    font-size: 2em;
    color: white;
}

.bi.bi-map-fill
{
    font-size: 2em;
    color: white;
}

.bi.bi-info-circle{
    font-size: 2em;
    color: white;
}

@media only screen and (min-width: 600px) {
    .titulo_form {
      padding-top: 65px;
      padding-right: 620px;
    }
    .formulario {
        padding-top: 0px;
        margin: auto;
        padding-left: 580px;
    }
    #btn_enviar_ativ{
        margin-left: 270px;
        width: 10%;
    }
    .form-control-pais{
        width: 49%;
    }
    .form-control{
        padding: 7px;
        width: 50%;
        margin: 7px;
    }
  }

/*-------------------------------------------*/
/*MAPA*/
.pagina_mapa{
    background-color:#072252
}

.iframe{
    display: block;
    width: 90vw;
    height: calc(.75 * 90vw);
    max-width: 800px;
    max-height: 600px;
    margin: 1.5em auto auto auto;
}

